/* This is a temporary font for words, you can change later on */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* Takes up the entire viewport */
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    /* Color changer, alternate this the way you like it */
    background-image: linear-gradient(
         0deg,
         #a35c6e 23.8%,
         #162a40 92%
    );
    /* Puts everything aligned at the middle of the page */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Adjusts the music box container; size, color, positioning */
.music-container {
    background-color: white;
    border-radius:15px;
    box-shadow: 0 20px 20px 0 #e9abb1;
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}