/* This is a temporary font for words, you can change later on */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* Takes up the entire viewport */
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    /* Color changer, alternate this the way you like it */
    background-image: linear-gradient(
         0deg,
         #a35c6e 23.8%,
         #162a40 92%
    );
    /* Puts everything aligned at the middle of the page */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Entire navigation bar for the play, backwards, and forwards options*/
.navigation_bar{
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


/* The play button style*/
.action-command{
    background-color: white;
    border: 0;
    color:#ff968a;
    font-size:20px;
    /* Allows us to hover over the button to do something*/
    cursor:pointer;
    /* Seperation between the buttons*/
    padding:5px;
    margin:0 20px;
}


/* Style for the pop up of the description of the song*/
.song-information {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
  }
  

  .music-container.play .song-information {
    opacity: 1;
    transform: translateY(-100%);
  }


.action-command-big {
    color: purple;
    font-size: 40px;
}

.action-command:focus {
    outline: 0;
}

/* Adjusts the music box container; size, color, positioning */
.music-container {
    /* Adjusts the whole container box in general */
    background-color: white;
    border-radius:15px;
    display: flex;
    padding: 20px 30px;
    position: relative;
    /* Adjust this section to create that warm smooth shadow underneath the box */
    box-shadow: 0 15px 15px 0 #e9abb1;
    margin: 100px 0;
    z-index: 10;
}

/* Adjusts the profile image of the song exclusively */
.img-container img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: inerhit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

/* circles the container in a full 360deg */
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Plays if it contains that specific class within the html folder*/
.music-container.play .img-container img {
    animation-play-state: running;
}

/* Changes the exact container size and postion */
.img-container {
    position:relative;
    width: 110px;
}